* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

/* Global Styles */
.memory-verse-heading, .about-heading, .resources-heading, .contact-heading {
  background: #fafafa;
  justify-content: left;
  align-items: left;
  height: 400px; 
}

.memory-verse-img, .about-img, .resources-img, .contact-img, .watch-img {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.contact-description, .about-description, .resources-description {
  z-index: 2;
  position: absolute;
  top: 20%;
  right: 0;
  text-align: center;
  padding: 2%;
  color: #000;
  font-weight: bold;
  font-size: 5rem;
  background-color: #f8f1f1;
}

@media screen and (max-width: 768px) {
  .description-mem-verse, .contact-description, .about-description, .resources-description {
    font-size: 3rem;
  }
}

.watch-button, .lifegroup-button-text, .home-lifegroup-button {
  color: #fff !important;
}

.givepage-button, .giveFormButton {
  display: inline-block !important;
  text-transform: lowercase !important;
  background: #ff8d45 !important;
  color: #fff !important;
}

.watch-button:hover, .lifegroup-button-text:hover {
  text-decoration: none;
  color: #fff !important;
}

.watch-button-wrap:hover, .lifegroup-view-button:hover, .home-lifegroup-button:hover, .submitButton:hover, .givepage-button:hover, .giveFormButton:hover {
  filter:opacity(70%);
}

/* HOME PAGE */
/* .church-activities {
  margin: 10% 0;

} */

.church-verse {
  /* margin: 3%; */
  padding: 5% 10%;
  font-size: 20px;
  text-align: center;
  background: #F8F9F9;
}

.church-verse-h3 {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* .church-verse-p2 {
  text-align: right;
} */

.home-activities {
  width: 100vw;
  height: 100vh;
}

.lifegroup-header {
  font-weight: bold;
}

.home-lifegroup-button {
  display: inline-block !important;
  text-transform: lowercase !important;
  background: #ff8d45 !important;
}

.text-muted {
  display: inline-block;
}

/* ABOUT PAGE */
.map {
  border: none;
  width: 100%;
  height: 100%;
  touch-action: pan-x pan-y;
}

.map-details {
  color: #000;
}

.map-details:hover {
  text-decoration: none;
  color: #ff8d45;
}

.codebar {
  color :#696969;
}

@media screen and (max-width: 768px) {
  .about-description {
    top: 30%;
  }

  .about-heading, .resources-heading {
    height:300px;
  }
}

/* Watch Page */
.watch-banner {
  background: #fafafa;
  justify-content: left;
  align-items: left;
  height: 400px;
  z-index: 1;

  :before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.6) 100%), linear-gradient(180deg, rgba(0,0,0,0.2) 0%, transparent 100%); */
    z-index: 2;
  }
}


.h1-watch {
  z-index: 3;
  position: absolute;
  align-items: left;
  justify-content: left;
  top: 18%;
  left: 0;
  text-align: left;
  font-weight: bold;
  background-color: #f8f1f1;
  padding: 2%;
  color: #000;
  font-weight: bold;
  font-size: 4rem;
}

@media screen and (max-width: 768px) {
  .h1-watch {
    font-size: 3rem;
    top: 25%;
    /* left: 30%; */
  }
}

.text-wrapper {
  padding: 3%;
  background: #000;
  align-items: center;
  justify-content: center;
}

.description, .video-description {
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.video-description {
  padding-top: 5%;
}

.watch-button-wrap {
  display: inline-block !important;
}


.spotify-link {
  color: #ff8d45;
  font-weight: bold;
}

.spotify-link:hover {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

.watch-live {
  background: #000;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.live-video-wrap {
  border: none;
  overflow: hidden;
  align-items: center;
}

/* RESOURCES PAGE */
.resources-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  max-height: 340px;
  padding: 30px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  transition: all 0.2s ease-in-out;
}

.resources-card:hover {
  transform: scale(1.02);
  transition: all 0.2s ease-in-out;
  cursor:pointer;
}

.resources-image {
  height: 160px;
  width: 160px;
  margin-bottom: 10px;
}

.resources-h5 {
  font-size: 2.5rem;
  /* color: #000; */
  margin-bottom: 64px;
  
  @media screen and (max-width: 480px) {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .resources-card-wrapper {
    padding: 3%;
  }
}

.lifegroup-wrapper {
  max-width: 1000px;
  margin: 4% auto;
  align-items: center;
  grid-gap: 16px;
  padding: 0 50px;
}


@media screen and (max-width: 768px) {
  .resources-description {
    top: 25%;
  }
}

/* MEMORY VERSE PAGE */
.memory-verse-heading {
  height: 400px;
}

@media screen and (max-width: 768px) {
  .memory-verse-heading {
    height: 550px;
  }
  .memory-verse-h5 {
    padding: 5% 0 0 0;
  }

  .description-mem-verse {
    top: 5%;
  }
}

.description-mem-verse {
  z-index: 2;
  position: absolute;
  top: 20%;
  right: 0;
  text-align: center;
  padding: 2%;
  color: #000;
  font-weight: bold;
  font-size: 5rem;
}

.logo-memory-verse {
  width: 65%;
}

.memory-verse-h5, .memory-verse-p {
  color: #6a492b;
  text-align: left;
  line-height: 35px;
}

.memory-verse-p {
  text-align: right;
  font-size: 1.5rem;
}

.memory-verse {
  margin-top: 1%;
  padding: 0 18% 5% 18%;
  align-items: center;
}

.verse-row{
  padding-bottom: 3%;
  text-align: center;
}

.text-uppercase {
  text-decoration: none; 
  color: #000;
}

.text-uppercase:hover {
  text-decoration: none;
  color: #696969;
}

/* CONTACT PAGE */
.contact-contents, .about {
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #F8F9F9;
}

.input-area {
  border-radius: 50px;
}

.contact-heading2 {
  text-align: center;
}

.contact-heading {
  height: 50%;
  width: 100%;
}

.submitButton {
  display: inline-block !important;
  color: #fff !important;
}

@media screen and (max-width: 768px) {
  .contact-description {
    font-size: 1.5rem;
    top: 15%;
  }

  .contact-heading {
    height: 250px;
  }
}

/* GIVE PAGE */
.give-heading {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
  overflow: hidden;
}

.give-img {
  position:relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
  /* opacity: 0.8; */
  z-index: 0;
  filter: brightness(30%);
}

.give-description {
  position: absolute;
  top: 8%;
  z-index: 1;
  text-align: center;
  padding: 2%;
  color: #fff;
  padding: 8% 15% 0 15%;
  height: 100vh;
  font-weight: bold;
  font-size: 1.7rem;
}

@media screen and (max-width: 768px) {
  .give-description {
    padding-top: 10%;
    margin-bottom: 5%;
    font-size: 1.2rem;
  }
  
  .give-button {
    font-size: 1.5rem !important;
  }

}

.givepage-button {
  font-size: 2rem !important;
}

/* GIVE FORM PAGE */
.give-contents {
  border-radius: 50px !important;
}

.give-heading2 {
  background: #ff8d45;
  color: #fff;
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;

}

.giveFormHeading {
  justify-content: center !important;
  align-items: center !important;
  text-align: center !important;
}

.giveformButton-wrap {
  text-align: center;
}

.giveFormButton {
  font-weight: bold;
}